:root {
    /*background-color: royalblue;*/
}
html {
    background: linear-gradient(0deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%) fixed no-repeat;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
}
header>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    padding: 1em;
}

